.container {
    display: flex;
    flex-direction: column;
    width: 1920px;
}
header {
    width: 1553px;
    height: 217px;
    background-color: #FFF7EF;
    h1 {
        color: #707070;
        font-size: 64px;
        font-family: Robot;
        padding: 68px 0 0 65px;
    }
    .header_form {
        padding: 88px 30px 83px 0px;
    }
    .container {
        display: flex;
        justify-content: space-between;
    }
}

.branch_menu {
    display: flex;
}

.Main {
    &_top {
        position: relative;
        img {
            width: 1553px;
            height: 530px;
        }
        span {
            position: absolute;
            top: 239px;
            left: 86px;
            font-size: 40px;
            color: #FFFFFF;
        }
    }
    &_content1 {
        position: relative;
        display: flex;
        img {
            width: 625px;
            height: 1193px;
            margin: 120px 0 0 111px;
        }
        h2 {
            position: absolute;
            top: 140px;
            left: 130px;
            font-size: 80px;
            color: #EAEAEA;
        }
        hr {
            position: absolute;
            top: 280.5px;
            left: 137.5px;
            height: 4px;
            width: 63px;
            background-color: #FFFFFF;
        }
        .subheading1 {
            position: absolute;
            top: 923px;
            left: 131px;
            width: 585px;
            height: 174px;
            background-color: #FFFFFF;
            opacity: 0.7;
        }
        .subheading2 {
            position: absolute;
            top: 1119px;
            left: 131px;
            width: 585px;
            height: 174px;
            background-color: #FFFFFF;
            opacity: 0.7;
        }
        dt {
            margin: 22px 350px 31px 19px;
            font-size: 24px;
            color: #3C2A10;
        }
        dd {
            margin-left: 19px;
            width: 541px;
            height: 97px;
            line-height: 150%;
            font-size: 16px;
            color: #3C2A10;
        }
    }
    &_content2 {
        position: relative;
        display: flex;
        img {
            width: 625px;
            height: 1196px;
            margin-top: 70px;
            margin-left: 80px;
        }
        h2 {
            position: absolute;
            margin-top: 101px;
            margin-left: 102px;
            font-size: 80px;
            color: #EAEAEA;
        }
        hr {
            position: absolute;
            bottom: 1000px;
            right: 535px;
            height: 4px;
            width: 63px;
            background-color: #FFFFFF;
        }
        .subheading3 {
            position: absolute;
            bottom: 720px;
            right: 736px;
            width: 585px;
            height: 174px;
            background-color: #FFFFFF;
            opacity: 0.7;
        }
        .subheading4 {
            position: absolute;
            bottom: 525px;
            right: 736px;
            width: 585px;
            height: 174px;
            background-color: #FFFFFF;
            opacity: 0.7;
        }
        dl {
            position: absolute;
            top: 1600px;
            left: 836px;
            width: 585px;
            height: 174px;
        }
        dt {
            padding: 22px 350px 31px 19px;
            font-size: 24px;
            color: #3C2A10;
        }
        dd {
            margin-left: 19px;
            width: 541px;
            height: 97px;
            line-height: 150%;
            font-size: 16px;
            color: #3C2A10;
        }
    }
}

.map {
    background-image: url(../img/map.png);
    background-color: #000000;
    width: 1553px;
    height: 649px;
    margin-top: 132px;
    &_heading {
        padding-top: 90px;
        padding-left: 119px;
    }
    h2 {
        top: 222px;
        left: 119px;
        font-size: 36px;
        color: #FFFFFF;
        padding-bottom: 63.5px;
    }
    hr {
        top: 321.5px;
        left: 119.5px;
        width: 75px;
        color: #FFFFFF;
    }
    &_text {
        top: 385px;
        left: 119px;
        width: 697px;
        height: 356px;
        padding-top: 63.5px;
        line-height: 200%;
        color: #FFFFFF;
    }
}

.sidebar {
    position: sticky;
}